<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="icon" href="1918 (244).ico">
    <title>Autobus</title>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center" mt-2>Central Camionera</h1>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="">Primera Plus</label>
                        <input id="primeraplus" type="number" class="form-control" placeholder="No. de personas a viajar">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="">ETN</label>
                        <input id="etn" type="number" class="form-control" placeholder="No. de personas a viajar">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="">Chihuahuenses</label>
                        <input id="chihua" type="number" class="form-control" placeholder="No. de personas a viajar">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="">Estrella Blanca</label>
                        <input id="estrella" type="number" class="form-control" placeholder="No. de personas a viajar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Kilómetros Recorrido</label>
                        <input id="kilometros" type="number" class="form-control" placeholder="kilometros a recorrer">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <button id="btn" class="btn btn-outline-dark mt-2">Aceptar</button>
                </div>
            </div>
            
            <div id="ZonePrint"></div>
        </div>
    </div>
    

    <script src="./../Js/app.js"></script>
</body>
</html>