<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="icon" href="./Card_Rin.ico">
    <title>Triangulo</title>
  </head>
  <body>
      <h1 class="text-center mt-2" >Triangulo</h1>
      <div class="container">
          <div class="jumbotron">
              <div class="row">
                  <div class="col-4">
                      <div class="form-group">
                          <label for="">Introduce el lado 'A' del triangulo</label>
                          <input id="ladoa" type="number" class="form-control" placeholder="Introduce lado A">
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="form-group">
                          <label for="">Introduce el lado 'B' del triangulo</label>
                          <input id="ladob" type="number" class="form-control" placeholder="Introduce lado B">
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="form-group">
                          <label for="">Introduce el lado 'C' del triangulo</label>
                          <input id="ladoc" type="number" class="form-control" placeholder="Introduce lado C">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-4">
                          <button class="btn btn-outline-dark mt-2" id="btn">Aceptar</button>
                  </div>
              </div>
              <div id="printaresult" class="alert alert-primary mt-3" role="alert">
                El area es :  
            </div>
          </div>
      </div>
      <script src="./../Js/app.js"></script>
  </body>
</html>tn
