<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="icon" href="./Stick_Rena.ico">
    <title>Distancia</title>
  </head>
  <body>
      <h1 class="text-center mt-2">Distancia de dos puntos</h1>
      <div class="container">
          <div class="jumbotron">
              <div class="row">
                  <div class="col-6">
                      <div class="form-group">
                          <label for="">Introduce X1 del primer punto</label>
                          <input id="lado1x" type="number" class="form-control" placeholder="Introduce X1" >
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label for="">Introduce Y1 del primer punto</label>
                          <input id="lado1y" type="number" class="form-control" placeholder="Introduce Y1">
                      </div>
                  </div>
                </div>

                  <div class="row">
                      <div class="col-6">
                         <div class="form-group">
                             <label for="">Introduce X2 del segundo punto </label>
                             <input id="lado2x" type="numer" class="form-control" placeholder="Introduce X2" >
                         </div>
                      </div>
                      <div class="col-6">
                          <div class="form-group">
                              <label for="">Introduce Y2 del segundo punto</label>
                              <input id="lado2y" type="numer" class="form-control" placeholder="Introduce Y2" >
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-4">
                          <button class="btn btn-outline-dark mt-2" id="btn" >Aceptar</button>
                      </div>
                  </div>
                  <div id="printaresult" class="alert alert-primary mt-3" role="alert">
                    La distancia de los puntos es:  
                </div>
          </div>
      </div>
      <script src="./../Js/app.js"></script>
  </body>
</html>